*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(131, 125, 93);
    color: hotpink;
    display: inline;
}
#particles-js{
    background-image: url(../img/22.jpg);
    background-size: cover;
    height: 850px;
    background-attachment: fixed;
    
}
.navbar{
     border-bottom: 3px solid red;
     opacity: 0.6;
}
#home-section{
    opacity: 0.9;
    padding: 2px;
    background-attachment: fixed;
    top: 100px;
    
    
}
#home-section .dark-overlay{
    min-height: 700px;
}
#home-section .home-inner{
    padding-top: 150px;
    padding-bottom: 10px;
}
#home-section .fas{
    
   
   
}
